.container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            padding-top: 50px;
            height: 100vh;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .form-container {
            background-image: url("../Images/plants.jpg");
            background-size: cover;
            overflow: hidden;
            width: 50%;
            height: 100%;
            position: relative;
        }

        .form-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 50px;
            max-width: 400px;
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        h1 {
            margin-top: 0;
            font-size: 28px;
            text-align: center;
            margin-bottom: 40px;
            color: #bc6480;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            background-color: #f5f5f5;
            border: 2px solid #ccc;
            transition: border-color 0.3s ease-in-out;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            outline: none;
            border-color: #a36e7f;
        }

        button[type="submit"] {
            background-color: #af8090;
            color: #fff;
            padding: 10px;
            border: none;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        button[type="submit"]:hover {
            background-color: #c56679;
        }

        .forget-password,
        .register {
            text-align: center;
            margin-top: 20px;
        }

        a {
            color: #c77b9c;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #ba5185;
        }