<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Household Plant Guide</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    <div class="header">
        <h1>House Plants</h1>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/addplants">Plants</a></li>
            <li><a href="/guide">Guide</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="guide">
            <h2>Household Plant Guide</h2>
            <p>Here you will find all sorts of information about house plants, including how to care for them, what
                types of
                plants are best for certain environments, and even how to style them in your home. House plants are a
                great
                way to add some natural beauty to your indoor space, and with so many different types of house plants
                available, you are sure to find one that meets your needs.</p>
        </div>
        <div class="plant-img-container">
            <img class="plant-img" src="static/images/plants1.jpg" alt="Plant">
        </div>
    </div>
</body>

</html>