<!DOCTYPE html>
<html>

<head>
    <title>Transaction</title>
    <link rel="stylesheet" href="static/css/user_trans.css">
</head>

<body>
    <h1>Transaction Details</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>USERID</th>
                <th>PRODUCT</th>
                <th>COST</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total Cost: {{ total }}</h2>
</body>

</html>